@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

:root {
  --bg-color: #0c0c0c;
  --main-color: #ae8957;
  --text-color: #fff;

  --big-font: 3rem;
  --regular-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* **** START HEADER STYLE **** */
nav li {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.logo img {
  width: 100%;
  height: auto;
}

.navlist {
  display: flex;
}

.navlist a {
  display: inline-block;
  margin: 0 3rem;
  color: var(--text-color);
  font-size: var(--regular-font);
  transition: all 0.6s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

.right_content {
  display: flex;
  align-items: center;
}

.nav_btn {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  font-size: var(--regular-font);
  font-weight: 500;
  transition: all 0.6s ease;
}

.nav_btn:hover {
  transform: translateY(-5px);
  color: var(--main-color);
  border-color: var(--main-color);
}

#menu-icon {
  font-size: 2.5rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 1.5rem;
  display: none;
}
/* **** END HEADER STYLE **** */

/* **** START SECTION STYLE **** */
section {
  padding: 0 14%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url("../images/bg.png"); */
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero_img img {
  width: 100%;
  height: auto;
}

.hero_text h1 {
  font-size: var(--big-font);
  font-weight: 900;
  margin: 1rem 0;
}

.hero_text h5 {
  font-size: var(--regular-font);
  font-weight: 400;
  letter-spacing: 1px;
}

.hero_text p {
  width: 100%;
  max-width: 40rem;
  font-size: var(--regular-font);
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.main_hero {
  display: flex;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 0.85rem 1rem;
  background-color: var(--main-color);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-size: var(--regular-font);
  font-weight: 500;
  transition: all 0.6s ease;
  margin-right: 1.2rem;
}

.btn:hover {
  transform: scale(1.1);
}

.price {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
}

.price span {
  font-size: var(--regular-font);
  font-weight: 400;
  color: var(--main-color);
  margin-left: 0.65rem;
}
/* **** END SECTION STYLE **** */

/* **** START ICONS STYLE **** */
.icons {
  position: absolute;
  top: 50%;
  padding: 0 7%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 2rem 0;
  color: var(--text-color);
  font-size: 1.5rem;
  transition: all 0.6s;
}

.icons i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

.scroll {
  position: absolute;
  top: 92%;
  right: 7%;
  transform: translateY(-50%);
}

.scroll a {
  font-size: var(--regular-font);
  color: var(--text-color);
  transition: all 0.6s;
}

.scroll a:hover {
  color: var(--main-color);
}

.scroll i {
  font-size: 1.5rem;
  margin-right: 6px;
}
/* **** END ICONS STYLE **** */

@media screen and (max-width: 1770px) {
  header {
    padding: 22px 4%;
  }
  .icons {
    padding: 0 4%;
  }
  .scroll {
    right: 4%;
  }
}

@media screen and (max-width: 1670px) {
  :root {
    --big-font: 3.7rem;
  }
}

@media screen and (max-width: 950px) {
  :root {
    --big-font: 3.5rem;
  }
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2rem);
    transition: all 0.6s ease-in-out;
  }
  .navlist a {
    display: block;
    padding: 0;
    margin: 0 0 25px 0;
    font-size: 1.7rem;
  }
  .navlist.open {
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .scroll {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
    height: auto;
  }
  .hero_text {
    padding-top: 10rem;
  }
  .hero_img {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
  }
  .hero_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 870px) {
  .icons {
    display: none;
  }
  section {
    padding: 0 4%;
  }
}

@media screen and (max-width: 770px) {
  :root {
    --big-font: 3.5rem;
  }
  .price {
    font-size: 1.3rem;
  }
  .btn {
    padding: 10px 23px;
  }
}

@media screen and (max-width: 570px) {
  .hero {
    height: 100vh;
  }
  .hero_img {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
  }
  :root {
    --big-font: 3rem;
  }
}

@media screen and (max-width: 470px) {
}
